.card-body {
    border: 1px solid #000 ;
    border-radius: 1px;
    background-color: #13a4a4;
}


/* CLASES DE IMAGENES*/
.card-img-top {
    width: 75%;
    height: auto;
}

/* CLASES DE IMAGENES*/
.card-16 {
    margin-bottom: 15px;
}


/* CLASES DE RESEÑAS*/
.card-17 {
    margin-bottom: 10px;
}

